nav{
    display: flex;
    flex-direction: column;
    background-color: #D5B0AC;
    font-weight: bold;
    text-align: center;
    border:none;
    width: 100px;
}
span{margin: 1px;
    display: inline-block;
    width: 100px;
    height:30px;
    padding-top: 10px;
}
span:hover{
    background-color: #9CD08F;
    color: #FFFFFF;
    cursor:hand;
}